2019/node_modules
2019/.history
2019/yarn.lock
2019/report*
2019/package-lock.json
2021/src/day12/one/obj
2021/src/day12/one/bin
2021/src/day12/two/obj
2021/src/day12/two/bin
2021/src/day16/node_modules
2021/src/day16/package-lock.json
2021/src/day17/target
2021/src/day17/Cargo.lock
2021/src/day18/node_modules
2021/src/day18/package-lock.json
2021/src/day18/*.js
2021/src/day18/**/*.js
2021/src/day23/target
2021/src/day23/Cargo.lock
2021/src/day24/target
2021/src/day24/Cargo.lock
2022/**/target
2022/**/Cargo.lock
