2019/node_modules
2019/.history
2019/yarn.lock
2019/report*
2019/package-lock.json
2020/src/day17/target
2020/src/day17/Cargo.lock
2020/src/day18/target
2020/src/day18/Cargo.lock
2020/src/day19/target
2020/src/day19/Cargo.lock
2020/src/day20/target
2021/src/day12/one/obj
2021/src/day12/one/bin
2021/src/day12/two/obj
2021/src/day12/two/bin
2021/src/day16/node_modules
2021/src/day16/package-lock.json
2021/src/day17/target
2021/src/day17/Cargo.lock
2021/src/day18/node_modules
2021/src/day18/package-lock.json
2021/src/day18/*.js
2021/src/day18/**/*.js
2021/src/day22/target
2021/src/day22/Cargo.lock
2021/src/day23/target
2021/src/day23/Cargo.lock
2021/src/day24/target
2021/src/day24/Cargo.lock
2022/**/target
2022/**/Cargo.lock
2023/**/target
2023/**/Cargo.lock
**/.vscode
2024/**/one
2024/**/two
2024/**/input.1.txt
2024/**/input.2.txt
2024/**/input.txt
